/.dart_tool/
/.idea/
/build/
.vscode/
/.vscode/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/ios/Podfile
/pubspec.lock

/FlaskV2/__pycache__/
/FlaskV2/env/
env/
.vscode/
*.json
*.log

